.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.character_card {
  cursor: pointer;
  position: relative;
}

.character_name {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
  color: darkgreen;
}

.character_img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.character_img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.undefinded {
  margin-top: 40px;
}

.character_status {
  position: absolute;
  top: 60px;
  right: 40px;
  text-align: end;
  
  p {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    background-color: white;
    border-radius: 8px;
  }
}
