.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.character_card {
  cursor: pointer;
}

.character_name {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
  color: darkgreen;
}

.character_img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.character_img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.undefinded {
  margin-top: 40px;
}
